@use "props.scss";

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--footer-bg);
    padding: var(--footer-padding-top) var(--footer-padding-sides)
        var(--footer-padding-bottom);
    box-sizing: border-box;
    color: var(--color-text);
    z-index: 9999;
    isolation: isolate;
    transition: position 0.2s;
    bottom: 0;

    @media (max-width: 768px) {
        width: 100vw;
        border-top: var(--footer-border);
        border-radius: 0;
        margin: 0;
    }

    @media (min-width: 768px) {
        width: calc(100vw - 20px);
        border: var(--footer-border);
        border-radius: var(--footer-radius);
        margin: var(--footer-margin-top) var(--footer-margin-sides)
            var(--footer-margin-bottom);
    }

    & span {
        font-size: var(--font-size-lg);

        & a {
            color: var(--color-text);
            text-decoration: none;

            &:hover {
                text-decoration: underline;
            }
        }

        &#source,
        &#email {
            z-index: 5;
        }
    }
}
